.textbox{
    padding-top: 1em;
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 1em;
    color: white;
}
.imagecontainer{
    padding-top: 1em;
    text-align: center;
}
.imagecontainer img{
    width: 30%;
    height: 30%;
}
