.textbox{
    padding-top: 1em;
    padding-bottom: 1em;
    width: 40%;
    margin: auto;
    font-size: 2em;
    color: white;
}
.imagecontainer{
    text-align: center;
}
.textbox{
    padding-bottom: 1em;
}
.calendar{
    width: 30%;
    height: 30%;
}
.left-pic{
    float: left;
    padding-left: 5%;
}
.right-pic{
    float: right;
    padding-right: 5%;
}