body{
    background-color: #333333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.pagetitle{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    background: #d21111 ;
}
footer{
    height: 10em;
    text-align: center;
}
.title{
    background-color: black;
}

.title a{
    font-size: 6em;
    font-weight: bold;
    text-decoration: none;
    padding: 1%;
    color: #d21111;
    display: block;
    text-align:center;
}
.navbar {
    overflow: hidden;
    background-color: #333 ;

}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    overflow: hidden;
    float: left;
}

.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 13px 16px;
    background-color: #333;
}
.dropbtn-active {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 13px 16px;
    background-color: #d21111;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 0 1px 1px 1px;
}
.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.navbar a.active {
    background-color: #d21111;
}
.navbar a:hover, .dropbtn:hover, .dropdown-content a:hover {
    background-color: #7a0b0b;
}
.navbar a:active, .dropdown-content a:active {
    background-color: #940e0e ;
}

@media (max-width: 660px) {
    .pagetitle{
        font-size: 1.5em;
    }
    .title a{
        font-size: 3em;
    }
    .navbar a {
        font-size: 0.7em;
    }
    .dropbtn {
        font-size: 0.7em;
    }
    .dropbtn-active {
        font-size: 0.7em;
    }
}